.root{
	-fx-icon-height:30px;
	-fx-icon-width:30px;
}

.new-file-icon{
	-fx-shape:"M60 201 l0 -180 98 -5 c53 -2 118 -8 144 -11 42 -6 50 -4 72 19 38
	37 36 98 -4 136 -26 24 -30 35 -30 81 0 49 -3 57 -42 96 l-42 43 -98 0 -98 0
	0 -179z m180 124 l0 -45 45 0 45 0 0 -50 c0 -47 -2 -50 -26 -50 -57 0 -101
	-79 -74 -131 10 -18 7 -19 -75 -19 l-85 0 0 170 0 170 85 0 85 0 0 -45z";
	-fx-pref-height:-fx-icon-height;
	-fx-pref-width:-fx-icon-width;
}

.save-icon{
	-fx-shape:"M60 240 l0 -180 180 0 180 0 0 158 c0 212 10 202 -203 202 l-157 0 0
-180z m325 -80 l0 -75 -145 0 -145 0 -3 64 c-2 35 -1 70 2 78 5 11 34 13 148
11 l143 -3 0 -75z";
	-fx-pref-height:-fx-icon-height;
	-fx-pref-width:-fx-icon-width;
}

