/* .tab-pane  {
    -fx-background-color: #FFF;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #FFF;
}
.tab-pane .tab-content-area .tab-content-area-background{
    -fx-background-color: #FFF;
}
.tab{
	-fx-background-color: #21C6FF;
}

.tab:selected{
	-fx-background-color: #21C6FF;
}

.tab-pane .tab-header-area .tab:hover{
	-fx-background-color: #21C6FF;
}

.tab-pane .tab-header-area .tab .tab-label{
	-fx-text-fill: #FFF;
}
*/

.tab {
   -fx-background-color: #21C6FF;   
}

.tab:selected {                  
   -fx-background-color: #21C6FF;   
}

.tab-content-area {
   -fx-background-color: #fff;  
}

.tab-label {
    -fx-text-fill: #fff;                
}

.tab-header-background {          
   -fx-background-color: #fff ;   
}